:root{
    /* Colors and fonts */
    --texto_Primario: 'Amatic SC', cursive;
    --texto_Sec: 'Press Start 2P', cursive;
    --color_blanco: #fff;
    --Color_negro: #000;
    --Color-borde : #3498db;
    --color_bordeEm: #383838;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before,*:after{
    box-sizing: inherit;
}

body{


}

.container{

}

.circle-container{

}

.circle{
    
}

.fas{

}

.fas.fasbars{

}

.content{

}

.img_pc{
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    
}





