:root{
    /* Colors and fonts */
    --texto_Primario: 'Amatic SC', cursive;
    --texto_Sec: 'Press Start 2P', cursive;
    --color_blanco: #fff;
    --Color_negro: #000;
    --Color_fondoSec : #3498db;
    --color_fondo: #900C3F;
    --color_gr1: #9e3ab4;
    --color_gr2: #3844e9;
    --color_gr3: #8b24b3;
    --color_gr4: #201403;
}

/* *{
    box-sizing: border-box;
} */
html{
     font-size: 62.5%;
     box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}
body{
    font-family: var(--texto_Primario);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: rgb(158,58,180);
    background: linear-gradient(90deg, rgba(158,58,180,1) 9%, rgba(56,68,233,1) 29%, rgba(139,36,179,1) 51%, rgba(32,20,3,1) 88%);
}

.bg{
    background-image: url(../img/Fondo.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
    top: -30px;
    left: -30px;
}

.loading-text{
    font-size: 5rem;
    color: var(--color_blanco);
}