:root{
    /* Colors and fonts */
    --texto_Primario: 'Oswald', sans-serif;
    --color_blanco: #fff;
    --Color_negro: #000;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before,*:after{
    box-sizing: inherit;
}

body{
    font-family: var(--texto_Primario);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #000;

}

.container{
    display: flex;
    width: 90vw;
}

.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 2rem;
    color: var(--color_blanco);
    cursor: pointer;
    flex: 0.5;
    margin: 1rem;
    position: relative;
    -webkit-transition: all 700ms ease-in;
    /* background: linear-gradient(); */
}

.panel h2{
    font-size: 2.4rem;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    margin: 0;
    opacity: 0;
}

.panel.active{
    flex: 5;
}

.panel.active h2{
    opacity: 1;
}

@media (min-width: 480px){ 
  .container{
    width: 100vw;
  }
}


